# Introduction to Python

## Content
- Variable / Data types
- Operations
- DataStructure 
    - array
    - list
    - tuple
    - set 
    - dictionary
- Loops
- Functions

In [1]:
x = 4
y = 3.5
s0 = 'string '
s1 = "String"
s2 = """
this is a 
multi  line comment.
have a nice class/
"""

In [6]:
print(x)
print(y)
print(s0)
print(s1)
print(s2)

4
3.5
string
String

this is a
multi  line comment.
have a nice class/

In [10]:
print("this is type of "+"x",type(x),'\n')
print("this is type of "+"y",type(y),'\n')
print("this is type of "+"s0",type(s0),'\n')
print("this is type of "+"s1",type(s1),'\n')
print("this is type of "+"s2",type(s2),'\n')

this is type of x <class 'int'>

this is type of y <class 'float'>

this is type of s0 <class 'str'>

this is type of s1 <class 'str'>

this is type of s2 <class 'str'>

In [17]:
x = 9
y = 4
x//y

2

In [18]:
arr = [3,4,5,6,1]

In [33]:
arr[2:]

[5, 6, 1]

In [34]:
lis = [1,'name','class',arr,3.5]

In [38]:
lis[3]

[3, 4, 5, 6, 1]

In [40]:
lis[3][2]

5

In [41]:
lis[1]

'name'

In [43]:
lis[1][1]

'a'

In [46]:
lis2 = ['banana','mango','banana','apple',4,4,4,4,5,5,6,7,7,7,7,7]
lis3 = list(lis2)

In [50]:
SET = set(lis2)
print(SET)
SET

{4, 5, 6, 7, 'apple', 'banana', 'mango'}

{4, 5, 6, 7, 'apple', 'banana', 'mango'}

In [53]:
lis2[1] ="person"
lis2

['banana', 'person', 'banana', 'apple', 4, 4, 4, 4, 5, 5, 6, 7, 7, 7, 7, 7]

In [56]:
tup = tuple([3,2,4])
tup2 = (4,5,2)

In [57]:
tup

(3, 2, 4)

In [58]:
tup2

(4, 5, 2)

In [61]:
tup[1] =1

TypeError: 'tuple' object does not support item assignment

In [66]:
dic = {
    1:"Tayyaba",
    3:"Asim",
    "Zubair":16,
    
}

In [65]:
dic[2]

KeyError: 2

In [68]:
dic[3]

'Asim'

In [70]:
dic['Zubair']

16

In [75]:
dic2 = dict(sir='Mannan',noman=2)

In [77]:
dic2['sir']

'Mannan'

In [79]:
dic.keys()

dict_keys([1, 3, 'Zubair'])

In [81]:
dic.values()

dict_values(['Tayyaba', 'Asim', 16])

In [82]:
dic.items()

dict_items([(1, 'Tayyaba'), (3, 'Asim'), ('Zubair', 16)])

## Starting Loops

In [83]:
lis

[1, 'name', 'class', [3, 4, 5, 6, 1], 3.5]

In [84]:
for item in lis:
    print(item)

1
name
class
[3, 4, 5, 6, 1]
3.5

In [92]:
l = list(dic.items())
l[1]

(3, 'Asim')

In [85]:
for k,v in  dic.items():
    print(k,"   ",v)

1     Tayyaba
3     Asim
Zubair     16

In [93]:
new_lis = [4, 4, 4, 4, 5, 5, 6, 7, 7, 7, 7, 7]

In [96]:
new_lis2 =[]
for item in new_lis:
    new_lis2.append(item +2)

In [98]:
new_lis2

[6, 6, 6, 6, 7, 7, 8, 9, 9, 9, 9, 9]

In [99]:
list1 = [x for x in range(1,101)]
list1

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [100]:
list2 = [x**2  for x in list1]
list2

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [101]:
list3 = [x for x in list2 if x%2 == 0]
list3

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604,
 10000]

In [102]:
print("length of list2 ",len(list2))
print("length of list3 ",len(list3))

length of list2  100
length of list3  50

In [104]:
list4= [x**0.5 for x in list1]

In [105]:
list4

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]